<div class="product-details">
    <div class="product-info">
      <p><strong>Titulo:</strong> <input type="text" id="productName" class="form-control mb-2"
          placeholder="Nombre del Producto"></p>
      {{!--  <p><strong>Descripción:</strong> <textarea id="productDescription" class="form-control mb-2"
          placeholder="Descripción"></textarea></p> --}}

      <p><strong>Categoría:</strong> <input type="text" id="productCategory" class="form-control mb-2"
          placeholder="Categoría"></p>

      <p><strong>Stock:</strong> <input type="number" id="productStock" class="form-control mb-2" placeholder="Stock">
      </p>
      
      <p><strong>Precio:</strong> <input type="number" id="productPrice" class="form-control mb-2" placeholder="Precio">
      </p>
    
    </div>
    <div class="product-image-container">
      <img id="productImage" src="" class="product-image" />
      <p class="mt-3 w-100">
        <strong>URL Imagen:</strong>
        <input type="text" id="productImageUrl" class="form-control mb-2" placeholder="URL de la Imagen">
      </p>
      <button type="button" class="btn btn-primary w-100" onclick="applyChanges()">Aplicar</button>
      <div class="d-flex justify-content-between w-100 mt-3">
        <button type="button" class="action-btn save-btn flex-grow-1" onclick="saveChanges()">
          Guardar
        </button>
        <button type="button" class="action-btn cancel-btn ml-3 flex-grow-1" onclick="goBack()">
          Cancelar
        </button>
      </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
 <script>

    //Regresar
    function goBack() {
      window.history.back();
    }

    function applyChanges() {
      let productImage = document.getElementById("productImage");
      productImage.src = document.getElementById("productImageUrl").value;

      Toastify({
        text: "Cambios aplicados",
        duration: 3000,
        close: true,
        gravity: "bottom",
        position: "right",
      }).showToast();
    }

    function saveChanges() {
      let productName = document.getElementById("productName").value;
      //let productDescription = document.getElementById("productDescription").value;
      let productCategory = document.getElementById("productCategory").value;
      let productStock = document.getElementById("productStock").value;
      let productPrice = document.getElementById("productPrice").value;
      let productImageUrl = document.getElementById("productImageUrl").value;

      let product = {
        name: productName,
        //description: productDescription,
        category: productCategory,
        stock: parseInt(productStock),
        price: parseInt(productPrice),
        image: productImageUrl,
      };

      let userRole;

      fetch('/api/products/manager/createProduct', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(product),
      })
        .then(response => response.json())
        .then(data => {
          userRole = data.userRole;
          
          Toastify({
            text: "Cambios guardados correctamente, regresando a la pagina anterior",
            duration: 3000,
            close: true,
            gravity: "bottom",
            position: "right",
          }).showToast();
          let redirectUrl;
          if(userRole === "premium"){
            redirectUrl = '/api/products/productlist'
          }else{
            redirectUrl = '/api/products/manager'
          }
          setTimeout(function () {
            window.location.href = redirectUrl;
          }, 2000); // 3000 milisegundos = 3 segundos
        })
        .catch(error => {
          Toastify({
            text: "Internal Server Error",
            duration: 3000,
            close: true,
            gravity: "bottom",
            position: "right",
          }).showToast();
          console.error('Error:', error);
        });
    }


  </script>

