 
<form id="RecoverForm" onsubmit="submitForm()" class="border p-3 form">
    <label for="email" class="form-label mt-2" required>Email</label>
    <input type="email" name="email" id="email" class="form-control">

    
    <button type="submit" class="btn btn-warning mt-3 mx-5">Cambiar contraseña</button>
    
</form>
<div>
    <a href="/api/sessions" ><button class="btn btn-secondary mt-3 mx-5">Volver al Login</button></a>
</div>


  <script>
    function submitForm() {
      let form = document.getElementById("RecoverForm");
      let formData = new FormData(form);

      let email = formData.get("email");
      
      fetch("./recoverPassword", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({email}),
      })
        .then(response => {
          if (response.ok) {
            alert("¡Correo enviado!");
            form.reset();
          } else {
            alert("Hubo un error al enviar el correo");
          }
        })
        .catch(error => {
          console.error("Error:", error);
        });
    }
  </script>