<form method="POST" action="/api/sessions/register" class="border p-3 form">
    <label for="first_name" class="form-label mt-2">Nombre</label>
    <input type="text" name="first_name" id="first_name" class="form-control">

    <label for="last_name" class="form-label mt-2 ">Apellido</label>
    <input type="text" name="last_name" id="last_name" class="form-control">

    <label for="email" class="form-label mt-2">Email</label>
    <input type="email" name="email" id="email" class="form-control">

    <label for="age" class="form-label mt-2">Edad</label>
    <input type="number" name="age" id="age" class="form-control">

    <label for="password" class="form-label mt-2">Contraseña</label>
    <input type="password" name="password" id="password" class="form-control">

    <button type="submit" class="btn btn-warning mt-3 mx-5">Registrarse</button>
</form>

