
    <div class="container" style="margin-top: 14%;  padding: 15px; border-radius: 29px;     background: darkkhaki;">
      <h1 class="mt-4">Resumen de ticket</h1>
      <ul class="navbar-nav ml-auto">
       <li>Fecha: {{ticket.purchase_datetime}} </li>
       <li>Email: {{ticket.purchaser}}</li>
       <li class="bg-success text-white p-2 mt-4" >Total de la compra: ${{ticket.amount}}</li>
      </ul>
    </div> 
<div>
    <a href="/api/products/productsList">
      <button class="btn btn-success mt-3 mx-5">Ir a la Tienda</button>
    </a>
</div>

