<h1>Subir Archivos</h1>
    <button style="border: none;  background: none;">
                    <a class="btn btn-warning"style="border-radius: 85px; padding: 20px; margin: 5px;" href="/api/sessions/profile">
                         <i class="bi bi-person-circle"> Profile </i>
                    </a>
    </button>
    
    <form id="uploadForm" enctype="multipart/form-data" class="border p-3 form d-flex flex-column justify-content-center align-items-center">
        <label for="fileType" class="form-label">Selecciona el Tipo de Archivo</label>
        <select id="fileType"  class="form-select me-2" name="fileType" required >
            {{!-- <option value="profileImage">Imagen de Perfil</option>
            <option value="productImage">Imagen de Producto</option> --}}
            <option value="document">Documentos</option>
        </select>

        <label for="file" class="my-2">Elige el Archivo:</label>
        <input type="file" id="documents" class="form-control" name="documents"  required multiple>

        <button type="button" onclick="submitForm()" class="btn btn-warning mt-4 text-decoration-none">Subir Archivo</button>
    </form>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script>
    function submitForm() {
        const form = document.getElementById('uploadForm');
        const formData = new FormData(form);

        fetch(`/api/users/{{uid}}/documents`, {
            method: 'POST',
            body: formData,
        })
        .then(response => {
            if (response.ok) {
                Toastify({
                    text: "Archivo subido exitosamente",
                    gravity: "bottom",
                    position: "right",
                    style: {
                        background: "linear-gradient(to right, #66ff66, #33cc33)",
                    },
                    duration: 3000,
                }).showToast();
                console.log("archivo subido")
                
            } else {
                console.log("error al subir")
            }
        })
        .catch(error => {
            console.error("Error de red al subir el archivo", error);
            Toastify({
                text: "Error de red al subir el archivo",
                gravity: "bottom",
                position: "right",
                style: {
                    background: "linear-gradient(to right, #ff6666, #cc3333)",
                },
                duration: 3000,
            }).showToast();
            console.log("error al subir archivo")
        });
    }
</script>
